/* _reset.scss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.button {
  padding: 16px 41px;
  letter-spacing: 0;
  color: #ffffff;
  line-height: 150%;
  font-size: 18px;
  background-color: #dd2242;
  border-radius: 32px;
  border: 0;
  font-family: inherit;
}

footer {
  background-color: #010a20;
}

.header {
  background-image: url(../images/backgrounds/hero-bg.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0.29)));
  background-image: url(../images/backgrounds/hero-bg.jpg), linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29));
  background-attachment: fixed;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 842px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 78px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
}

.header-nav-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 700;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.hero {
  background-image: url(../images/backgrounds/hero-bg.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0.29)));
  background-image: url(../images/backgrounds/hero-bg.jpg), linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29));
  background-attachment: fixed;
}

.hero-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: 0;
  padding-bottom: 21px;
  width: 627.33px;
}

.hero-button {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  line-height: 150%;
  font-size: 20px;
  font-weight: 700;
  padding: 26px 64px;
  background-color: #dd2242;
  border-radius: 211px;
}/*# sourceMappingURL=main.css.map */