.hero {
	background-image: url(../images/backgrounds/hero-bg.jpg),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29));
	background-attachment: fixed;
}

.hero-title {
	color: $white;
	font-family: $roboto;
	font-weight: 900;
	font-size: 120px;
	line-height: 130px;
	letter-spacing: 0;
	padding-bottom: 21px;
	width: 627.33px;
}

.hero-button {
	color: $txt-light-opacity;
	font-family: inherit;
	line-height: 150%;
	font-size: 20px;
	font-weight: 700;
	padding: 26px 64px;
	background-color: $main-red;
	border-radius: 211px;
}
