@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/typography' as *;

.button {
	padding: 16px 41px;
	letter-spacing: 0;
	color: $white;
	line-height: 150%;
	font-size: 18px;
	background-color: $main-red;
	border-radius: 32px;
	border: 0;
	font-family: inherit;
}
