// Main brand colors
$main-red: #dd2242;
$black-contrast: #010a20;
$white: #ffffff;

// Text colors
$text-lighten: #e0e0e0;
$paragraph-dark: #6f7787;
$light-text: rgba(#151439, 0.4); // 40% opacity

// Utility colors
$gray-reduced: #85a3b2;

// ---------------
